
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


input{
    width: 40%;
    height: 30px;
    
    
}

h1, label{
    text-shadow: 0px 0px 1px black;
}

#btn-submit{
    width: 40.6%;
}


#listaElem{
    width: 80%;
    margin: auto;
    


}


.local{
    width: 100%;

    border: solid 1px black;
    height: 30px;
    font-size: 30px;

}

button, p{
    display: inline-block;
    margin-left: 20px;
}

